<a href="https://colab.research.google.com/github/jjAguil/Tareas-Simulacion/blob/main/Pandas_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset Wine Reviews
En las siguientes sesiones, trabajaremos con el banco de datos
[Wine Reviews](https://www.kaggle.com/datasets/zynicide/wine-reviews) de Kaggle.
Este es un dataset que contiene 12 columnas o variables, y 130 mil filas o
instancias de reseñas a diferentes vinos.

Las columnas son:
- Country
- Description
- Designation
- Points
- Price
- Province
- Region_1
- Region_2
- Taster Name
- Taster Twitter Handle
- Variety
- Winery

In [ ]:
import pandas as pd
import numpy as np

# Importando el dataset

In [ ]:
df = pd.read_csv('./wine_reviews_kaggle.csv', index_col=0)

In [ ]:
df.shape

(129971, 13)

In [ ]:
df.head(5)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

# Funciones por grupos
Como ya vimos, podemos hacer transformaciones de nuestros datos mediante las
funciones optimizadas de Pandas, o aplicando algún método mediante `apply` o
`map`. Sin embargo, en muchas ocasiones queremos organizar nuestros datos por
grupos en una primera instancia, para luego modificarlos o analizarlos de
acuerdo al grupo al que pertenecen.

Estas operaciones de agrupación se hacen mediante la función `groupby()`.
Antes de comenzar con esta función, revisemos el método `value_counts()`, que
nos dice, para cada valor presente en una columna del DataFrame, cuántas veces
ocurre

In [ ]:
df['points'].value_counts()

88     17207
87     16933
90     15410
86     12600
89     12226
91     11359
92      9613
85      9530
93      6489
84      6480
94      3758
83      3025
82      1836
95      1535
81       692
96       523
80       397
97       229
98        77
99        33
100       19
Name: points, dtype: int64

Esta función es un *alias* para una serie de comandos, en los que se encuentra
`groupby()`; podemos obtener un resultado similar de la siguiente manera:

In [ ]:
df.groupby('points')['points'].count()

points
80       397
81       692
82      1836
83      3025
84      6480
85      9530
86     12600
87     16933
88     17207
89     12226
90     15410
91     11359
92      9613
93      6489
94      3758
95      1535
96       523
97       229
98        77
99        33
100       19
Name: points, dtype: int64

`Groupby` entonces, es una función que permite hacer *particiones* de un
DataFrame o una Series, aplicarles una función y combinar los resultados.

Es importante recalcar que `groupby` no regresa un DataFrame *per se*, sino un
objeto con la información de dichos grupos, por lo que, para visualizar algún
resultado, debemos de aplicar alguna función (optimizada por pandas, map o
apply).

In [ ]:
df.groupby('points')

No es hasta que ejecutamos alguna operación que ya podemos visualizar datos,
por ejemplo, podemos encontrar el precio más barato en cada nivel de puntos del
dataset:

In [ ]:
df.groupby('points')['price'].min()

points
80      5.0
81      5.0
82      4.0
83      4.0
84      4.0
85      4.0
86      4.0
87      5.0
88      6.0
89      7.0
90      8.0
91      7.0
92     11.0
93     12.0
94     13.0
95     20.0
96     20.0
97     35.0
98     50.0
99     44.0
100    80.0
Name: price, dtype: float64

Si quisieramos, a partir de esta operación, saber el nombre de dicho vino,
podemos hacer lo siguiente:

In [ ]:
"""
obtener los indices que corresponden al precio minimo en cada puntaje
idx min, como su nombre lo indica, regresa el índice del elemento cuyo valor
es el mínimo
"""
idx = df.groupby('points')['price'].idxmin()
idx.head()

points
80     23437
81     33381
82    117303
83     59507
84     29553
Name: price, dtype: int64

In [ ]:
# obtener los nombres
df.loc[idx, ['title', 'points', 'price']]

                                                    title  points  price
23437       Terrenal 2013 Estate Bottled Malbec (Mendoza)      80    5.0
33381   Viña Decana 2010 Crianza Tempranillo (Utiel-Re...      81    5.0
117303  Felix Solis 2012 Flirty Bird White (Vino de la...      82    4.0
59507     Pam's Cuties NV Unoaked Chardonnay (California)      83    4.0
29553           Broke Ass 2009 Red Malbec-Syrah (Mendoza)      84    4.0
1987    Felix Solis 2013 Flirty Bird Syrah (Vino de la...      85    4.0
64590                       Bandit NV Merlot (California)      86    4.0
24592   In Situ 2008 Reserva Sauvignon Blanc (Aconcagu...      87    5.0
44054    Ste. Chapelle 2001 Johannisberg Riesling (Idaho)      88    6.0
42891    Borsao 2008 Monte Oton Garnacha (Campo de Borja)      89    7.0
5145           Esser Cellars 2001 Chardonnay (California)      90    8.0
34629   Herdade dos Machados 2012 Toutalga Red (Alente...      91    7.0
29236   Aveleda 2011 Follies Fonte Nossa Senhora da Va...      92   11.0
68720   Château d'Aydie 2010 Aydie l'Origine Tannat-Ca...      93   12.0
23974          Quinta dos Murças 2011 Assobio Red (Douro)      94   13.0
5011    Dunham 2010 Lewis Estate Vineyard Riesling (Co...      95   20.0
101580             Rulo 2007 Syrah (Columbia Valley (WA))      96   20.0
114981  Donkey & Goat 2010 Fenaughty Vineyard Syrah (E...      97   35.0
1560    Pirouette 2008 Red Wine Red (Columbia Valley (...      98   50.0
118059  Failla 2010 Estate Vineyard Chardonnay (Sonoma...      99   44.0
113929  Charles Smith 2006 Royal City Syrah (Columbia ...     100   80.0

Incluso podemos hacer agrupaciones más específicas, lo que nos llevaría a tener
un DataFrame con `MultiIndex`, que no es otra cosa que índices con diferentes
niveles, por ejemplo: podemos agrupar los vinos por país y por provincia, de
acuerdo a las columnas de nuestro DataFrame, y visualizar aquellos con mejor
puntuación:

In [ ]:
"""
la función lambda recibe un dataframe (porque estamos trabajando con GroupBy),
y nos regresa aquellas filas en las cuales el puntaje es máximo.

Al aplicarla sobre un objeto Groupby, estamos aplicando dicha función en cada
uno de los grupos, que para este caso son países y provincias.
"""
df.groupby(['country', 'province']).apply(lambda df: df.loc[df['points'].idxmax(), :])

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
Armenia   Armenia             Armenia
Australia Australia Other   Australia
          New South Wales   Australia
...                               ...
Uruguay   Juanico             Uruguay
          Montevideo          Uruguay
          Progreso            Uruguay
          San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
Armenia   Armenia           Deep salmon in color, this wine offers a bouqu...
Australia Australia Other   Writes the book on how to make a wine filled w...
          New South Wales   De Bortoli's Noble One is as good as ever in 2...
...                                                                       ...
Uruguay   Juanico           This mature Bordeaux-style blend is earthy on ...
          Montevideo        A rich, heady bouquet offers aromas of blackbe...
          Progreso          Rusty in color but deep and complex in nature,...
          San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                                                        designation  points  \
country   province
Argentina Mendoza Province                         Nicasia Vineyard      97
          Other                                             Reserva      95
Armenia   Armenia                                    Estate Bottled      88
Australia Australia Other                             Sarah's Blend      93
          New South Wales                        Noble One Bortytis      94
...                                                             ...     ...
Uruguay   Juanico                  Preludio Barrel Select Lote N 77      90
          Montevideo        Monte Vide Eu Tannat-Merlot-Tempranillo      91
          Progreso                   Etxe Oneko Fortified Sweet Red      90
          San Jose                         El Preciado Gran Reserva      87
          Uruguay                         Blend 002 Limited Edition      91

                            price          province                 region_1  \
country   province
Argentina Mendoza Province  120.0  Mendoza Province                  Mendoza
          Other              90.0             Other                    Salta
Armenia   Armenia            15.0           Armenia                      NaN
Australia Australia Other    15.0   Australia Other  South Eastern Australia
          New South Wales    32.0   New South Wales          New South Wales
...                           ...               ...                      ...
Uruguay   Juanico            45.0           Juanico                      NaN
          Montevideo         60.0        Montevideo                      NaN
          Progreso           46.0          Progreso                      NaN
          San Jose           50.0          San Jose                      NaN
          Uruguay            22.0           Uruguay                      NaN

                           region_2        taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province      NaN  Michael Schachner           @wineschach
          Other                 NaN  Michael Schachner           @wineschach
Armenia   Armenia               NaN      Mike DeSimone        @worldwineguys
Australia Australia Other       NaN                NaN                   NaN
          New South Wales       NaN     Joe Czerwinski                @JoeCz
...                             ...                ...                   ...
Uruguay   Juanico               NaN  Michael Schachner           @wineschach
          Montevideo            NaN  Michael Schachner           @wineschach
          Progreso              NaN  Michael Schachner           @wineschach
          San Jose              NaN  Michael Schachner           @wineschach
          Uruguay               NaN  Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
          Other                            Colomé 2010 Reserva Malbec (Salta)
Armenia   Armenia                 Van Ardi 2015 Estate Bottled Rosé (Armenia)
Australia Australia Other   Marquis Philips 2000 Sarah's Blend Red (South ...
          New South Wales   De Bortoli 2007 Noble One Bortytis Semillon (N...
...                                                                       ...
Uruguay   Juanico           Familia Deicas 2004 Preludio Barrel Select Lot...
          Montevideo        Bouza 2015 Monte Vide Eu Tannat-Merlot-Tempran...
          Progreso          Pisano 2007 Etxe Oneko Fortified Sweet Red Tan...
          San Jose          Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay           Narbona NV Blend 002 Limited Edition Tannat-Ca...

                                          variety                winery
country   province
Argentina Mendoza Province                 Malbec  Bodega Catena Zapata
          Other                            Malbec                Colomé
Armenia   Armenia                            Rosé              Van Ardi
Australia Australia Other               Red Blend       Marquis Philips
          New South Wales                Sémillon            De Bortoli
...                                           ...                   ...
Uruguay   Juanico                       Red Blend        Familia Deicas
          Montevideo                    Red Blend                 Bouza
          Progreso                         Tannat                Pisano
          San Jose                      Red Blend        Castillo Viejo
          Uruguay           Tannat-Cabernet Franc               Narbona

[425 rows x 13 columns]

Otro método importante es `agg` (*aggregate*), que nos permite aplicar varias
funciones a nuestros datos en una misma operación, por ejemplo:

In [ ]:
"""
mean (media) no es una función nativa de Python, por lo que pandas no la
reconocería, es por ello que debemos de pasar el nombre completo de la
implementación de pandas.

En el caso de las otras funciones, al ser nativas, pandas está utilizando `apply`
sobre ellas.
"""
df.groupby('country')['price'].agg([max, min, pd.DataFrame.mean, len])

                           max   min       mean    len
country
Argentina                230.0   4.0  24.510117   3800
Armenia                   15.0  14.0  14.500000      2
Australia                850.0   5.0  35.437663   2329
Austria                 1100.0   7.0  30.762772   3345
Bosnia and Herzegovina    13.0  12.0  12.500000      2
Brazil                    60.0  10.0  23.765957     52
Bulgaria                 100.0   8.0  14.645390    141
Canada                   120.0  12.0  35.712598    257
Chile                    400.0   5.0  20.786458   4472
China                     18.0  18.0  18.000000      1
Croatia                   65.0  12.0  25.450704     73
Cyprus                    21.0  11.0  16.272727     11
Czech Republic            45.0  15.0  24.250000     12
Egypt                      NaN   NaN        NaN      1
England                   95.0  25.0  51.681159     74
France                  3300.0   5.0  41.139120  22093
Georgia                   40.0   9.0  19.321429     86
Germany                  775.0   5.0  42.257547   2165
Greece                    79.0   8.0  22.364425    466
Hungary                  764.0  10.0  40.648276    146
India                     20.0  10.0  13.333333      9
Israel                   150.0   8.0  31.768916    505
Italy                    900.0   5.0  39.663770  19540
Lebanon                   75.0  13.0  30.685714     35
Luxembourg                30.0  16.0  23.333333      6
Macedonia                 20.0  15.0  15.583333     12
Mexico                   108.0   8.0  26.785714     70
Moldova                   42.0   8.0  16.745763     59
Morocco                   40.0  14.0  19.500000     28
New Zealand              130.0   7.0  26.931785   1419
Peru                      68.0  10.0  18.062500     16
Portugal                1000.0   5.0  26.218256   5691
Romania                  320.0   4.0  15.241667    120
Serbia                    42.0  15.0  24.500000     12
Slovakia                  16.0  16.0  16.000000      1
Slovenia                  90.0   7.0  24.812500     87
South Africa             330.0   5.0  24.668987   1401
Spain                    770.0   4.0  28.215275   6645
Switzerland              160.0  21.0  85.285714      7
Turkey                   120.0  14.0  24.633333     90
US                      2013.0   4.0  36.573464  54504
Ukraine                   13.0   6.0   9.214286     14
Uruguay                  130.0  10.0  26.403670    109

# Ordenamiento (Sorting)
En los ejemplos anteriores, pandas nos ha estado regresando diferentes
agrupaciones sin ningún orden en específico. Si, para nuestro análisis, deseamos
presentar nuestros resultados ordenándolos con respecto a alguna columna,
debemos utilizar el método `sort_values()`. Esta función puede ser utilizada
tanto con DataFrames, como con objetos `groupby`.

Por ejemplo, podemos ordenar nuestro dataset `df` con respecto a la columna de
puntos:

In [ ]:
df.sort_values(by='points')

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
118056,US,This wine has very little going on aromaticall...,Reserve,80,26.0,California,Livermore Valley,Central Coast,Virginie Boone,@vboone,3 Steves Winery 2008 Reserve Cabernet Sauvigno...,Cabernet Sauvignon,3 Steves Winery
35516,US,"This Merlot has not fully ripened, with aromas...",NaN,80,20.0,Washington,Horse Heaven Hills,Columbia Valley,Sean P. Sullivan,@wawinereport,James Wyatt 2013 Merlot (Horse Heaven Hills),Merlot,James Wyatt
11086,France,Picture grandma standing over a pot of stewed ...,NaN,80,11.0,Languedoc-Roussillon,Fitou,NaN,Joe Czerwinski,@JoeCz,Mont Tauch 1998 Red (Fitou),Red Blend,Mont Tauch
11085,France,A white this age should be fresh and crisp; th...,NaN,80,8.0,Southwest France,Bergerac,NaN,Joe Czerwinski,@JoeCz,Seigneurs de Bergerac 1999 White (Bergerac),White Blend,Seigneurs de Bergerac
102482,US,"This wine is a medium cherry-red color, with s...",Cabernet Franc,80,18.0,Washington,Columbia Valley (WA),Columbia Valley,Sean P. Sullivan,@wawinereport,Tucannon 2014 Cabernet Franc Rosé (Columbia Va...,Rosé,Tucannon
...,...,...,...,...,...,...,...,...,...,...,...,...,...
111756,France,"A hugely powerful wine, full of dark, brooding...",NaN,100,359.0,Bordeaux,Saint-Julien,NaN,Roger Voss,@vossroger,Château Léoville Las Cases 2010 Saint-Julien,Bordeaux-style Red Blend,Château Léoville Las Cases
89728,France,This latest incarnation of the famous brand is...,Cristal Vintage Brut,100,250.0,Champagne,Champagne,NaN,Roger Voss,@vossroger,Louis Roederer 2008 Cristal Vintage Brut (Cha...,Champagne Blend,Louis Roederer
89729,France,This new release from a great vintage for Char...,Le Mesnil Blanc de Blancs Brut,100,617.0,Champagne,Champagne,NaN,Roger Voss,@vossroger,Salon 2006 Le Mesnil Blanc de Blancs Brut Char...,Chardonnay,Salon
118058,US,This wine dazzles with perfection. Sourced fro...,La Muse,100,450.0,California,Sonoma County,Sonoma,NaN,NaN,Verité 2007 La Muse Red (Sonoma County),Bordeaux-style Red Blend,Verité
111755,France,This is the finest Cheval Blanc for many years...,NaN,100,1500.0,Bordeaux,Saint-Émilion,NaN,Roger Voss,@vossroger,Château Cheval Blanc 2010 Saint-Émilion,Bordeaux-style Red Blend,Château Cheval Blanc

Observemos, además, que `sort_values` trabaja por default con orden ascendente
---de menor a mayor---, si queremos modificar este comportamiento debemos
cambiar el parámetro `ascending` a `False`.

In [ ]:
df.sort_values(by='points', ascending=False)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
114972,Portugal,"A powerful and ripe wine, strongly influenced ...",Nacional Vintage,100,650.0,Port,NaN,NaN,Roger Voss,@vossroger,Quinta do Noval 2011 Nacional Vintage (Port),Port,Quinta do Noval
89729,France,This new release from a great vintage for Char...,Le Mesnil Blanc de Blancs Brut,100,617.0,Champagne,Champagne,NaN,Roger Voss,@vossroger,Salon 2006 Le Mesnil Blanc de Blancs Brut Char...,Chardonnay,Salon
113929,US,In 2005 Charles Smith introduced three high-en...,Royal City,100,80.0,Washington,Columbia Valley (WA),Columbia Valley,Paul Gregutt,@paulgwine,Charles Smith 2006 Royal City Syrah (Columbia ...,Syrah,Charles Smith
45781,Italy,"This gorgeous, fragrant wine opens with classi...",Riserva,100,550.0,Tuscany,Brunello di Montalcino,NaN,Kerin O’Keefe,@kerinokeefe,Biondi Santi 2010 Riserva (Brunello di Montal...,Sangiovese,Biondi Santi
123545,US,Initially a rather subdued Frog; as if it has ...,Bionic Frog,100,80.0,Washington,Walla Walla Valley (WA),Columbia Valley,Paul Gregutt,@paulgwine,Cayuse 2008 Bionic Frog Syrah (Walla Walla Val...,Syrah,Cayuse
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128255,Argentina,"Severely compromised by green, minty, weedy ar...",NaN,80,13.0,Mendoza Province,Mendoza,NaN,Michael Schachner,@wineschach,Viniterra 2007 Malbec (Mendoza),Malbec,Viniterra
128254,Argentina,Disappointing considering the source. The nose...,Gran Lurton,80,20.0,Mendoza Province,Mendoza,NaN,Michael Schachner,@wineschach,François Lurton 2006 Gran Lurton Cabernet Sauv...,Cabernet Sauvignon,François Lurton
93686,Peru,"Best on the nose, where apple and lemony aroma...",Brut,80,15.0,Ica,NaN,NaN,Michael Schachner,@wineschach,Tacama 2010 Brut Sparkling (Ica),Sparkling Blend,Tacama
73865,Chile,There's not much point in making a reserve-sty...,Prima Reserva,80,13.0,Maipo Valley,NaN,NaN,Joe Czerwinski,@JoeCz,De Martino 1999 Prima Reserva Merlot (Maipo Va...,Merlot,De Martino
128256,US,"A hot, harsh and unbalance Chardonnay. Barely ...",NaN,80,24.0,California,Contra Costa County,Central Coast,NaN,NaN,Bloomfield 2008 Chardonnay (Contra Costa County),Chardonnay,Bloomfield

Además, como ya comentamos, esto no solo funciona con DataFrames, sino que es
una operación que podemos aplicar sobre objetos resultantes de un `groupby`.

En el siguiente ejemplo primero agrupamos los reviews de los vinos por país y
luego trabajamos directamente con la columna `points`, sobre esta calculamos:
- el puntaje máximo de ese país
- el puntaje mínimo
- el promedio de puntos de sus vinos, y
- el número de vinos que tiene cada país

posteriormente ordenamos con respecto a dos parámetros:
1. El puntaje máximo
2. El promedio de puntos por país
**Nota**: `sort_values` puede ordenar con base en diversas columnas del
DataFrame, para ello debemos pasar los nombres de dichas columnas en una lista.
**El orden de los elementos de la lista es el orden de preferencia de las
columnas**; es decir, si pasamos la lista `[max, mean]`, pandas primero ordenara
con respecto a la variable `max`, y algún desempate lo realizará con la variable
`mean`.

In [ ]:
df.groupby('country')['points'].agg([max, min, pd.DataFrame.mean, len])\
    .sort_values(by=['max', 'mean'], ascending=False)

                        max  min       mean    len
country
France                  100   80  88.845109  22093
Australia               100   80  88.580507   2329
US                      100   80  88.563720  54504
Italy                   100   80  88.562231  19540
Portugal                100   80  88.250220   5691
Austria                  98   82  90.101345   3345
Germany                  98   81  89.851732   2165
Spain                    98   80  87.288337   6645
Hungary                  97   81  89.191781    146
Argentina                97   80  86.710263   3800
England                  95   89  91.581081     74
New Zealand              95   80  88.303030   1419
South Africa             95   82  88.056388   1401
Chile                    95   80  86.493515   4472
Canada                   94   82  89.369650    257
Israel                   94   80  88.471287    505
India                    93   87  90.222222      9
Morocco                  93   85  88.571429     28
Greece                   93   82  87.283262    466
Turkey                   92   84  88.088889     90
Slovenia                 92   82  88.068966     87
Georgia                  92   82  87.686047     86
Uruguay                  92   80  86.752294    109
Romania                  92   82  86.400000    120
Mexico                   92   80  85.257143     70
Bulgaria                 91   80  87.936170    141
Lebanon                  91   82  87.685714     35
Croatia                  91   81  87.219178     73
Moldova                  91   82  87.203390     59
Luxembourg               90   88  88.666667      6
Switzerland              90   83  88.571429      7
China                    89   89  89.000000      1
Serbia                   89   86  87.500000     12
Czech Republic           89   84  87.250000     12
Cyprus                   89   85  87.181818     11
Macedonia                89   84  86.833333     12
Brazil                   89   80  84.673077     52
Armenia                  88   87  87.500000      2
Bosnia and Herzegovina   88   85  86.500000      2
Ukraine                  88   82  84.071429     14
Slovakia                 87   87  87.000000      1
Peru                     86   80  83.562500     16
Egypt                    84   84  84.000000      1

# Ejercicios
- Quienes son los revisores más frecuentes? Hints:
    - obtener una serie en la que el index sea `taster_twitter_handle`; los
    valores deben ser cuántos reviews hizo cada uno.
    - Método [`size`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.size.html)
    - o método `value_counts`

- Ordena de manera descendente y ascendente la Serie del ejercicio anterior

- Para cada precio existente en el dataset, encontrar cuál es el mejor vino que
se puede comprar. Hints:
    - Obtener una Serie cuyo index sea `price`, cuyos valores sean el puntaje
    máximo que se puede comprar a dicho precio.
    - **Avanzado**: Obten un DataFrame con las columnas `[price, title, points]`
    de dichos vinos

- Cuál es el puntaje máximo y mínimo para cada variedad de vino? Hints:
    - Obtener un DataFrame (qué implica que sea un DataFrame y no una Serie?),
    cuyo índice sea la variable `variety`, y que sus valores sean los precios
    máximos y mínimos
    - Método [`agg`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.agg.html)
    - Ordenalos de manera descendente con base en los precios máximos, para
    saber qué variedades son las más caras

- Lo mismo del ejercicio anterior, pero con el puntaje en lugar de los precios

- Revisores exigentes? Crea una Serie cuyo index sea `taster_name`, y sus
valores sean la media (promedio) de los puntajes que han dado. Hints:
    - Columnas: `taster_name` y `points`
    - ordenalos de menor a mayor
- Checa cuál es la puntuación mínima que dió cada revisor

In [ ]:
df.groupby('taster_name')['points'].agg(min).sort_values(ascending=True)

# Tipos de Datos
Cada Serie o columna de un DataFrame tiene asociado un tipo de dato: `float64`,
`int64`, entre otros. En la *jerga* de pandas y numpy, a esta propiedad se le
conoce como `dtype`.

Podemos inspeccionar el tipo de datos de una columna en específico de la
siguiente manera:

In [ ]:
df['points'].dtype, df['taster_twitter_handle'].dtype

(dtype('int64'), dtype('O'))

Si queremos observar los tipos de datos de todo un DataFrame, podemos utilizar
la propiedad `dtypes`

In [ ]:
df.dtypes

country                   object
description               object
designation               object
points                     int64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
dtype: object

Si queremos tratar una columna o Serie como un tipo de dato diferente, podemos
utilizar el método `astype`

In [ ]:
df['points'].astype('float32')

0         87.0
1         87.0
2         87.0
3         87.0
4         87.0
          ...
129966    90.0
129967    90.0
129968    90.0
129969    90.0
129970    90.0
Name: points, Length: 129971, dtype: float32

Observa cómo el método `astype` no modifica el tipo de dato en el DataFrame
original, sino que solo nos da una representación distinta de los mismos datos;
es una `view` nueva, pero los datos se mantienen intactos.

In [ ]:
df['points']

0         87
1         87
2         87
3         87
4         87
          ..
129966    90
129967    90
129968    90
129969    90
129970    90
Name: points, Length: 129971, dtype: int64

También los `index` tienen un tipo de dato asociado, para ello, creemos nuevos
DataFrames mediante `groupby` (recuerda que este metodo crea un dataframe donde
el index es la variable con respecto a la cual se agrupó).

In [ ]:
a = df.groupby('points')['price'].agg([max, min, pd.DataFrame.mean])

In [ ]:
a

           max   min        mean
points
80        69.0   5.0   16.372152
81       130.0   5.0   17.182353
82       150.0   4.0   18.870767
83       225.0   4.0   18.237353
84       225.0   4.0   19.310215
85       320.0   4.0   19.949562
86       170.0   4.0   22.133759
87       800.0   5.0   24.901884
88      3300.0   6.0   28.687523
89       500.0   7.0   32.169640
90       510.0   8.0   36.906622
91      2013.0   7.0   43.224252
92       750.0  11.0   51.037763
93       770.0  12.0   63.112216
94      1125.0  13.0   81.436938
95       973.0  20.0  109.235420
96      2500.0  20.0  159.292531
97      2000.0  35.0  207.173913
98      1900.0  50.0  245.492754
99       850.0  44.0  284.214286
100     1500.0  80.0  485.947368

In [ ]:
a.index

Int64Index([ 80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,
             93,  94,  95,  96,  97,  98,  99, 100],
           dtype='int64', name='points')

In [ ]:
a.index.dtype

dtype('int64')

In [ ]:
b = df.groupby('country')['price'].mean()
b.index

Index(['Argentina', 'Armenia', 'Australia', 'Austria',
       'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Canada', 'Chile',
       'China', 'Croatia', 'Cyprus', 'Czech Republic', 'Egypt', 'England',
       'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'India', 'Israel',
       'Italy', 'Lebanon', 'Luxembourg', 'Macedonia', 'Mexico', 'Moldova',
       'Morocco', 'New Zealand', 'Peru', 'Portugal', 'Romania', 'Serbia',
       'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Switzerland',
       'Turkey', 'US', 'Ukraine', 'Uruguay'],
      dtype='object', name='country')

In [ ]:
b.index.dtype

dtype('O')

# Valores Perdidos
Normalmente, Pandas asigna el valor `NaN` (Not a Number) a los valores perdidos;
por convención, los valores `NaN` son interpretados como tipo `float64`. Para
generar máscaras que nos indiquen si un valor es perdido o no, Pandas provee los
correspondientes métodos:
- `pd.isnull()`
- `pd.notnull()`

In [ ]:
df['country'].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
129966    False
129967    False
129968    False
129969    False
129970    False
Name: country, Length: 129971, dtype: bool

In [ ]:
# checar si hay vinos para los cuáles no se cuenta con el país de origen
df['country'].isnull().sum()

63

Para ubicar los vinos que no tienen país, podemos utilizar la máscara de la
siguiente manera:

In [ ]:
mask = df['country'].isnull()
df.loc[mask]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
913,NaN,"Amber in color, this wine has aromas of peach ...",Asureti Valley,87,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Gotsa Family Wines 2014 Asureti Valley Chinuri,Chinuri,Gotsa Family Wines
3131,NaN,"Soft, fruity and juicy, this is a pleasant, si...",Partager,83,NaN,NaN,NaN,NaN,Roger Voss,@vossroger,Barton & Guestier NV Partager Red,Red Blend,Barton & Guestier
4243,NaN,"Violet-red in color, this semisweet wine has a...",Red Naturally Semi-Sweet,88,18.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Kakhetia Traditional Winemaking 2012 Red Natur...,Ojaleshi,Kakhetia Traditional Winemaking
9509,NaN,This mouthwatering blend starts with a nose of...,Theopetra Malagouzia-Assyrtiko,92,28.0,NaN,NaN,NaN,Susan Kostrzewa,@suskostrzewa,Tsililis 2015 Theopetra Malagouzia-Assyrtiko W...,White Blend,Tsililis
9750,NaN,This orange-style wine has a cloudy yellow-gol...,Orange Nikolaevo Vineyard,89,28.0,NaN,NaN,NaN,Jeff Jenssen,@worldwineguys,Ross-idi 2015 Orange Nikolaevo Vineyard Chardo...,Chardonnay,Ross-idi
...,...,...,...,...,...,...,...,...,...,...,...,...,...
124176,NaN,This Swiss red blend is composed of four varie...,Les Romaines,90,30.0,NaN,NaN,NaN,Jeff Jenssen,@worldwineguys,Les Frères Dutruy 2014 Les Romaines Red,Red Blend,Les Frères Dutruy
129407,NaN,Dry spicy aromas of dusty plum and tomato add ...,Reserve,89,22.0,NaN,NaN,NaN,Michael Schachner,@wineschach,El Capricho 2015 Reserve Cabernet Sauvignon,Cabernet Sauvignon,El Capricho
129408,NaN,El Capricho is one of Uruguay's more consisten...,Reserve,89,22.0,NaN,NaN,NaN,Michael Schachner,@wineschach,El Capricho 2015 Reserve Tempranillo,Tempranillo,El Capricho
129590,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Büyülübağ 2012 Shah Red,Red Blend,Büyülübağ
129900,NaN,This wine offers a delightful bouquet of black...,NaN,91,32.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Psagot 2014 Merlot,Merlot,Psagot

Para reemplazar valores perdidos, pandas proporciona el método
[`fillna()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html),
que provee diversas formas de cambiar un valor perdido (NaN) por algo más
significativo para nuestro análisis:

In [ ]:
df['country'].fillna('Sin país')
(df['country'].fillna('Sin país') == 'Sin país').sum()

63

También podemos utilizar el método `replace`:

In [ ]:
df['country'].replace(np.nan, 'Sin país')

(df['country'].replace(np.nan, 'Sin país') == 'Sin país').sum()

63

El método `replace` no solo sirve para valores perdidos o no definidos, sino
que puede ser utilizado para cualquier valor

In [ ]:
df['country'].replace('Italy', 'iTALY')

0            iTALY
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [ ]:
df['country'].replace('France', 'fRANCE')

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      fRANCE
129969      fRANCE
129970      fRANCE
Name: country, Length: 129971, dtype: object

In [ ]:
df['points']

0         87
1         87
2         87
3         87
4         87
          ..
129966    90
129967    90
129968    90
129969    90
129970    90
Name: points, Length: 129971, dtype: int64

In [ ]:
df['points'].replace(87, np.inf)

0          inf
1          inf
2          inf
3          inf
4          inf
          ...
129966    90.0
129967    90.0
129968    90.0
129969    90.0
129970    90.0
Name: points, Length: 129971, dtype: float64

El método `replace` es importante porque no siempre los datos perdidos vienen en
la forma de `NaN`, sino que tienen una denominación diferente, por ejemplo: `?`,
`Unknown`, `Invalid`, entre otros

# Más Ejercicios
- Qué tipo de datos tienen las columnas `price`, `taster_name` y  `winery`. **Hint**: `dtypes`
- Crea una serie con los valores de la columna `points`, pero que sean
interpretados como `string`. Hint: `str` es el nombre de las strings en Python.
- Cuántos vinos no tienen precio? Hint: cuántos vinos tienen un valor `NaN` en
la columna `price`?
- La columna `region_1` tiene muchos valores perdidos, reemplázalos con
`Unknown`. Luego agrupa el DataFrame de acuerdo a esa columna, y muestra cuántos
vinos pertenecen a cada región (incluída Unkown); además, ordénalos de mayor a
menor. Hint:
    - puedes crear un nuevo DataFrame, una nueva columna con los valores
    reemplazados, o reemplazar la misma columna (piensa en las implicaciones de
    cada opción)

In [ ]:

df['region_1_rep'] = df['region_1'].replace(np.nan, "Unknown")

In [ ]:
df.groupby('region_1_rep').size().sort_values(ascending=False)

region_1_rep
Unknown                           21247
Napa Valley                        4480
Columbia Valley (WA)               4124
Russian River Valley               3091
California                         2629
                                  ...
Saint-Chinian-Roquebrun               1
Paso Robles Highlands District        1
Trentino Superiore                    1
Frascati                              1
Dolcetto d'Alba Superiore             1
Length: 1230, dtype: int64

# Renombrar
En cualquier momento Pandas nos permite cambiar el nombre de las columnas o del index de una fila. Por ejemplo,
podemos cambiar el nombre de la columna `points` a `score`

In [ ]:
df.rename(columns={'points': 'score'})

También podemos cambiar el index de cualquier fila, mediante el parámetro `index`

In [ ]:
df.rename(index={0: 'HOLA MUNDO', 1: 'segunda entrada'}).head()

# Duplicados
Pandas provee una manera de encontrar filas duplicadas mediante el método
`duplicated`, el cual regresa una `Serie` con valores booleanos (una máscara)
en la cual nos indicará con `True` qué filas son aquellas que son duplicados
de otras.

In [ ]:
df.duplicated().sum(), df.shape[0]

(9983, 129971)

Podemos observar que el banco de datos cuenta con casi 10 mil filas duplicadas,
de 130 mil (aprox) observaciones del dataset.

Ahora, el método `duplicated` tiene dos parámetros para modificar su
comportamiento:
- `subset`
- `keep`

`subset` nos permite indicar una o varias columnas específicas, sobre las cuales
pandas realizará la comparación para determinar si una fila es duplicado de
otra o no.

Por ejemplo, podemos observar cuántas columnas tienen la misma descripción y al
mismo revisor:

In [ ]:
df.duplicated(subset=['description', 'taster_name']).sum()

10015

Podemos comparar este resultado con cuántas columnas tienen la misma descripción,
mismo revisor y mismo vino:

In [ ]:
df.duplicated(subset=['description', 'taster_name', 'title']).sum()

9983

In [ ]:
df.duplicated().sum()

9983

Observamos que hay una diferencia de aproximadamente 30 vinos, lo que implica
que en 30 ocasiones (aprox) un revisor repitió la descripción que utilizó ya
para otros vinos. Además, observamos que el resultado de verificar duplicados
únicamente con 3 columnas, basta para encontrar el mismo número de duplicados
que si se analiza el dataset en la totalidad de sus columnas. Esto tiene que
ver con que, en muchos casos, los valores de el resto de columnas son una
función (dependen) de los valores proporcionados por estas columnas

Por su parte, el parámetro `keep` nos permite modificar qué filas vamos a marcar
con `True`, es decir, cuáles son consideradas duplicadas. El término `keep`
surge a partir de que, normalmente, vamos a querer eliminar los duplicados, por
lo que este parámetro nos permite indicar qué fila conservar. Los valores que
podemos asignar a `keep` son:
- `first`: Conservaremos la primer aparición de la fila, es decir que ésta no es
considerada un duplicado y la marcamos como `False`, mientras que la segunda y
demás apariciones son consideradas duplicados y se marcan como `True` para
posteriormente, si así lo queremos, eliminarlas. **Nota**: este es el
comportamiento por default de pandas
- `last` Conservaremos la última aparición de la fila (la marcamos como `False`),
mientras que de la primera a la penúltima se consideran duplicados y se marcan
como `True`, para posteriormente ser eliminadas.
- `False`: Marca todos los duplicados como `True`, es decir, se incluyen tanto
la primera como la última aparición de las filas.

In [ ]:
df.duplicated(keep=False).sum()

19966

In [ ]:
df.duplicated(keep='last').sum()

9983

In [ ]:
df.duplicated(keep='first').sum()

9983

También existe la función `drop_duplicates`, que nos permite, en un solo paso,
eliminar del dataframe todas aquellos valores duplicados. Al igual que
`duplicated`, acepta los mismos parámetros:
- `subset`
- `keep`
- `inplace`
- `ignore_index`

In [ ]:
df.drop_duplicates(keep='last')

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit